<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Filtro</filter-name>
        <filter-class>com.tric.control.Filtro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>com.tric.control.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.tric.control.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>com.tric.control.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservacion</servlet-name>
        <servlet-class>com.tric.control.Reservacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservacion</servlet-name>
        <url-pattern>/Reservacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
