*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
@font-face
{
    font-family: Violana;
    src: url('../fonts/Violina Regular.ttf')
}
@font-face
{
    font-family: Mangostana;
    src: url('../fonts/Mangostana.ttf')
}
.fondito{
    background-color: rgba(160, 217, 231, 0.534);
}
.row::after{
    content: "";
    clear: both;
    display: table;
    width: auto;
    height: auto;
}
.contenedor img{
    width: 250px;
    height: 150px;
    margin: auto;
    display: block;
}

.ima{
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.ima:hover{
    box-shadow: 0 3px 10px rgb(134, 200, 226);
}
.ima{
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.ima:hover{
    box-shadow: 0 3px 10px rgb(26, 17, 158);
}
.fontt {
    font-family: myfont;
    font-size: 20px;
}
.fuente2 {
    font-family: mifuente2;
    font-size: 20px;
}
.flex-contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;
}
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
}
img{
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
    height: auto;
    width: 65%;

}
article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; 
    height: 300px;
    width: 400px;
}
.item-texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.item-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textofinal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    height: 275px;

}
/*.fondo{
    background-color: lightgray;
    height: 250px;
}*/
.caja{
    margin: auto;
}
h3{
    display: inline;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    margin: 1px;

}
.fondo2{
    background: url(../IMAGENES/g1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height:780px;
    position: relative;
    margin: auto;
}
.fondotxt{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
p{
    margin: 5px;
}
.bo{
    margin-top: 10px;
    line-height: 5px;
    padding: 6px;
    text-align: center;
    background-color: rgba(36, 45, 170, 0.527);
    color: white;
    border-radius: 3px;
    text-decoration: none;
    justify-content: center;
    border: 1px solid rgb(82, 70, 240);
    display: block;
    width: 100px;
    margin: 0 auto;
}
.bo:hover{
    background-color: rgba(41, 79, 248, 0.979);
    /*color: dodgerblue;*/
    box-shadow: 0 3px 5px black;
}

/* menu*/
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav a{
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: rgb(13, 122, 165);
    color: white;
    text-decoration: none;
}
.nav a:hover{
    background-color:rgb(49, 52, 219);
}
.nav>a>div.desplegable{
    position: absolute;
    top: 100%;
    left: 0;
}
[class*="col-"]{
    width: 100%;
}

@media only screen and (min-width:600px){
    /*para tablets*/
    .col-t-1{ width: 8.33%;}
    .col-t-2{ width: 16.66%;}
    .col-t-3{ width: 25%;}
    .col-t-4{ width: 33.33%;}
    .col-t-5{ width: 41.66%;}
    .col-t-6{ width: 50%;}
    .col-t-7{ width: 58.33%;}
    .col-t-8{ width: 66.66%;}
    .col-t-9{ width: 75%;}
    .col-t-10{ width: 83.33%;}
    .col-t-11{ width: 91.66%;}
    .col-t-12{ width: 100%;}

    .fontt {
        font-size: 30px;
    }
    .fuente2 {
        font-size: 20px;

    }
    #button{
        width: 20%;
    }
    .flex-contenedor{
        flex-wrap: nowrap;
    }
    .fondo2{
        flex-direction: row;
    }
}
[class*="col-"]{
    float: left;
    padding: 15px;
}

@media only screen and (min-width:768px){
    /*para mobiles*/
    .col-1{ width: 8.33%;}
    .col-2{ width: 16.66%;}
    .col-3{ width: 25%;}
    .col-4{ width: 33.33%;}
    .col-5{ width: 41.66%;}
    .col-6{ width: 50%;}
    .col-7{ width: 58.33%;}
    .col-8{ width: 66.66%;}
    .col-9{ width: 75%;}
    .col-10{ width: 83.33%;}
    .col-11{ width: 91.66%;}
    .col-12{ width: 100%;}

    .flex-contenedor{
        flex-wrap: nowrap;
    }
    .fontt {
        font-size: 40px;
    }
    .fuente2 {
        font-size: 30px;
    }
    .fondo2{
        flex-direction: row;
    }
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

#button{
    padding: 10px;
    font-weight: 300;
    font-size: 15px;
    width: 70%;
    background-color: green;
    color: white;
    cursor: pointer;
    border:0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    display: inline;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 1px;
}
body{
    background-color: #A9CCE3;
}
.caja{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.fboton{
    display: flex;
    justify-content: center;
}
